extends layout
.nav
  block nav
      ul.main-menu
        li
          a(href='/') Home
        li
          a(href='/showdb') My Databases
block form 
  form(method="post" action="/createTable")
    input(type="text" name="db" value=db style="display: none;")
    label Name of Table
    input(type="text" name="name")
    input(type="text" name="no_of_col" placeholder="No. of columns you want")
    input(type="submit" name="submit" value="Submit")