extends layout
.nav
  block nav
      ul.main-menu
        li
          a(href='/') Home
        li
          a(href='/logout') Logout
        
  
block main-content
  table
    each item in result
      tr
        td
          a(href="/showtables/"+item._id style="float: left;") #{item.name}
          a(href="/deletedb/"+item._id style="float: right;") Delete