extends layout
.nav
  block nav
      ul.main-menu
        li
          a(href='/') Home
        li
          a(href='/logout') Logout
block main-content
    table.data
        each item in result
            tr
                each items in item.rows
                    td
                        span=items
    form(method="post" action="/addData" style="float: left;")
        input(type="text" name="dbname" value=result[0].dbname style="display: none;")
        input(type="text" name="tablename" value=result[0].tablename style="display: none;")
        input(type="text" name="no_of_col"  placeholder="No. of rows you want to add")
        input(type="submit" value="Add Fields")

                

